<!DOCTYPE html>
<html lang="en">
<head>
<title>GroupM8 Group Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .rightcolumn {
      border-right: 1px solid black;
    }
    .bigfont{
      font-size: 200%;
    }
    .botborder {
      border-bottom: 3px solid black;
    }
    .leftpadded {
      margin-left: 10px;
    }
    .username {
      border-bottom: 2px solid;
    }
    .scroll {
     max-height:300px;
      overflow-y:auto;
    }
    .col-fixed-320 {
      margin-left: 10px;
      width:320px;
      position:fixed;
      height:100%;
      z-index:1;
    }
    .col-offset-400 {
      padding-left:400px;
      z-index:0;
    }
    .nopadrow {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .form-control {
      width:auto;
      display:inline-block;
    }
    .form-full {
      width:100%;
      display:inline-block;
    }
    .fluid-container {
      padding-left: 30px;
      padding-right: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    .allborders {
      border: 1px solid black;
    }

    .something {
      font-size: 120%;
    }
    .sidebox {
    background-color: #FF6600;
    }
    .approve {
    background: green;
    }
    .reject {
    background: red;
    }
    .pageback {
    background: #FFFFFF;
    }
    .btncolor {
    background: #2F4F4F;
    color: #FFFFFF;
    border-color: #000000;
    }
    .bordered {
    borders: black 1px;
    }
    .panel-default > .panel-heading-custom {
    background: #000000;
    color: #fff;
    }
    
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}


</style>
</head>
<body class="pageback">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.groupm8.org/home" target="_parent">GroupM8</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://www.groupm8.org/home" target="_parent">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li><a href="#"><div id="username"></div></a></li>
        <li><a href="http://www.groupm8.org/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="fluid-container">
    <div class="row">
      <div class="col-sm-12"  align="center" id="groupname2" contenteditable="true">
        <p class="bigfont" id="groupname">Group Name Here</p>
      </div>
      <div class="col-sm-12 botborder"  align="center" contenteditable="true">
        <p id="groupdesc">Group Description Here</p>
      </div>
      <div class="col-sm-12" align="center">
        <!--<button type="button" class="btn btn-default form-control" id="editgroupname">Edit Group Name</button>-->
        <button type="button" class="btn btn-default form-control" name="saveedits" id="saveedits">Save Edits</button>
          <button type="button" class="btn btn-default form-control" id="leavegroup" name="leavegroup">Leave Group</button>
	<br>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-custom" align="center"><b>Members</b></div>
          <div class="panel-body sidebox" id="members-list">
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading panel-heading-custom" align="center"><b>Pending Requests to Join</b></div>
          <div class="panel-body sidebox">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <p><b>Name:</b></p>
                </div>
                <div class="col-sm-3">
                  <p><b>Approve</b></p>
                </div>
                <div class="col-sm-3">
                  <p><b>Reject</b></p>
                </div>
              </div>
	      <div id="requests-body">
              
	      </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading panel-heading-custom" align="center"><b>Pending Invitations to Join</b></div>
          <div class="panel-body sidebox">
            <form>
	      <div id="invitations">
              <div class="row">
                <div class="col-sm-7">
                  <p>Person 1</p>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <p>Person 2</p>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <p>Person 3</p>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <p>Person 4</p>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                </div>
              </div>
	      </div>
            </form>
          </div>
        </div>

        <div class="row something" align="center">
          <span id="acceptingapps">Accepting outside applications? </span>
          &nbsp;
          &nbsp;
          &nbsp;
        </div>
        <br>
        <div class="row" align="center">
            <a class="btn btn-default form-control btncolor" id="addmember" href="http://www.groupm8.org/search" target="_parent"><b> Add New Member </b></a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom" align="center"><h4>Pinned Events</h4></div>
             <div class="panel-body scroll pageback" id="eventlist">
              <div class="row" id="eventrow">
                <!--<div class="col-sm-1"></div>
                <div class="col-sm-10 panel panel-default">
		  <div id="eventlist"></div>
                  <div class="panel-heading" align="center">Study Session 1</div>
                   <div class="panel-body">
                    <p>Time: Wednesday 12:45</p>
                    <p>Event Desciption Here</p>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
                            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 panel panel-default">
                  <div class="panel-heading" align="center">Study Session 2</div>
                   <div class="panel-body">
                    <p>Time: Friday 1:30</p>
                    <p>Event Desciption Here</p>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>-->
             </div>
            </div>
          </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom" align="center"><h4>Create Event</h4></div>
            <div class="panel-body pageback">
              <form class="form-horizontal" enctype="multipart/form-data" action="/add_event" method="post">
                <div class="row form-group">
                  <label class="col-sm-1" for="eventname">Event Name:</label>
                  <div class="col-sm-4">
                    <input type="text" id="eventname" name="eventname" placeholder=" Enter Event Name">
                  </div>
                  <label class="col-sm-1" for="eventdesc">Description:</label>
                  <div class="col-sm-6">
                    <input type="textfield" id="eventdesc" name="eventdesc" placeholder=" Enter Event Description">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-sm-3">
                  <label for="day">Day:</label>
                  <select class="form-control" id="day" name="day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option vlaue="Sunday">Sunday</option>
                  </select>
                  </div>
                  <div class="col-sm-6">
                  <label for="hour">Time:</label>
                  <select class="form-control" id="hour" name="hour">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <select class="form-control" id="minutes" name="minutes">
                    <option value="00">00</option>
                    <option value="05">05</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                  </select>
                  <select class="form-control" id="ampm" name="ampm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>
                  </div>
                  <div class="col-sm-3">
                  <label for="repeating">Repeating?</label>
                  <select class="form-control" id="repeating" name="repeating">
                    <option value="T">Repeating</option>
                    <option value="F">Not Repeating</option>
                  </select>
                </div>
                </div>
              
              <div class="row" align="center">
                <button type="submit" class="btn btn-default btncolor" id="eventbtn"><b> Create Event </b></button>
              </div>
	      </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default" style="display:none">
            <div class="panel-heading" align="center"><b>Chat Goes Here:</b></div>
            <div class="panel-body">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div>
  </div>
  <script>
    $.getJSON('/group_info', function(data) {
    var $gname = $("<p>", {"class": "bigfont"});
    $("#groupname").html(data[0].name);
    $("#groupdesc").html(data[0].description);
    });
    $.getJSON('/user_info', function(data) {
    $("#username").html(data[0]);
    });
  </script>
  <div>
  </div>
  <!--script>
    /*
    $.getJSON('/list_events/name/desc/day/hour/min/repeating', function(data) {

    });
    */
  </script-->
  <div>
  </div>
  <script>
    function listMembers() {
    $("#members-list").html("");
    $.getJSON('/group_members', function(data) {
    //alert("Hi!");
    $.each(data, function(i) {
    var $member = $("<p>", {id: data[i].userid});
    $("#members-list").append($member);
    $("#"+data[i].userid).append(data[i].name);
    });
    });
    } listMembers();
    /*document.getElementById("eventbtn").onclick = function() {createEvent()};
      function createEvent() {
      var eventn = document.getElementById("eventname").value;
      var eventd = document.getElementById("eventdesc").value;
      var d = document.getElementById("day").value;
      var h = document.getElementById("hour").value;
      var m = document.getElementById("minutes").value;
      var r = document.getElementById("repeating").value;
      alert(m);
      } */
  </script>

  
  <script>
    (function() {
    $.get('/check_group_availability', function(data) {
    if (data == "T") {
    $("#acceptingapps").append('<label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="yes" checked>Yes</label><label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="no">No</label>');
    }
    else if (data == "F") {
    $("#acceptingapps").append('<label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="yes">Yes</label><label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="no" checked>No</label>');
    }
    else {
    alert("Error: value of data is: " + data);
    }
    });
    })();
  </script>

  <script>
    $(document).ready(function() {
    $(document).on("change", "input:radio",function() {
    alert("Clicked!");
    var value = $(this).val();
    $.get('/toggle_group_availability', function(data){
    alert("Group availability is now: " + data);
    });
    });
    });
  </script>

  <div></div>
  <script>
    //(function() {
    //alert("Outer loop running!");
    $("#eventlist").html("");
    $.getJSON('/list_events', function(data) {
    $.each(data, function(i) {
    //alert("Running!");
    $("#eventlist").append('<div class="row"><div class="col-sm-1"></div><div class="col-sm-10 panel panel-default"><div class="panel-heading" align="center">' + data[i].name + '</div><div class="panel-body"><p>Time: ' + data[i].day + ' ' + data[i].time + '</p><p>Description: ' + data[i].desc + '</p></div></div><div class="col-sm-1"></div></div></div>');
  });
  });
  //})();
  </script>

  <script>
    function listRequests() {
    $("#requests-body").html("");
    $.getJSON('/list_group_requests/U', function(data) {
    $.each(data, function(i) {
    $("#requests-body").append('<div class="row"><div class="col-sm-7"><p>' + data[i].username + '</p></div><div class="col-sm-3"><button type="button" class="btn btn-default approve" name="accept" value="' + data[i].requestid + '"><span class="glyphicon glyphicon-ok"></span></button></div><div class="col-sm-2"><button type="button" class="btn btn-default reject" name="reject" value="'+ data[i].requestid +'"><span class="glyphicon glyphicon-remove"></span></button></div></div>');
    });
    });
    } listRequests();

    function listInvitations() {
    $("#invitations").html("");
    $.getJSON('/list_group_requests/G', function(data) {
    $.each(data, function(i) {
    $("#invitations").append('<div class="row"><div class="col-sm-7"><p>' + data[i].username + '</p></div><div class="col-sm-3"></div><div class="col-sm-2"></div></div>');
    });
    });
    } listInvitations();
  </script>

  <script>
    $(document).ready( function() {
    $(document).on("click", "button[name='accept']", function() {
    var rid = $(this).val();
    $.get('/process_request/' + rid + '/A', function(data) {
    listMembers();
    listRequests();
    });
    });
    $(document).on("click", "button[name='reject']", function() {
    var rid2 = $(this).val();
    $.get('/process_request/' + rid2 + '/R', function(data) {
    listRequests();
    });
    });
    });
  </script>

  <script>
    $(document).ready( function() {
    $(document).on("click", "button[name='saveedits']", function() {
    alert('Clicked "Save Edits"!');
    var editName = document.getElementById("groupname");
    var name = editName.innerHTML;
    alert('Inner html for name is:' + name);
    var editDesc = document.getElementById("groupdesc");
    var desc = editDesc.innerHTML;
    $.post('/edit_group_text', {editname: name, editdesc: desc}, function(data) {
    alert(data);
    });
    });
    });
  </script>

  <script>
    $(document).ready( function() {
    $(document).on("click", "button[name='leavegroup']", function() {
    $.get('/remove_group', function(data) {
    
    window.location.href = "http://www.groupm8.org/home";
    });
    });
    });
  </script>

<!--<div class="col-sm-1"></div>
                <div class="col-sm-10 panel panel-default">
		  <div id="eventlist"></div>
                  <div class="panel-heading" align="center">Study Session 1</div>
                   <div class="panel-body">
                    <p>Time: Wednesday 12:45</p>
                    <p>Event Desciption Here</p>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>-->


</body>
</html>
