<!DOCTYPE html>
<html lang="en">
<head>
<title>GroupM8 User Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .rightcolumn {
      border-right: 1px solid black;
    }
    .container {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: 0px;
      margin-left: 0px;
      max-width: none;
    }
   .scroll {
     max-height:300px;
      overflow-y:auto;  
    }
    .username {
      border-bottom: 3px solid;
    }
    .col-fixed-320 {
      margin-left: 10px;
      width:320px;
      position:fixed;
      height:100%;
      z-index:1;
    }
    .col-offset-400 {
      padding-left:400px;
      z-index:0;
    }
    .nopadrow {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }


    .navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}

  </style>

<script>
  $("#searchbutton").click(function() {
  alert)'Working!');
    $.getJSON('/search_group', function(data) {
    $.each(data, function(i) {
    newgroup = "";
    newgroup.concat('<div class="row"><div class="col-sm-1"></div><div class="col-sm-10 panel panel-default"><div class="panel-heading" align="center">' + data[i][2] + '</div><div class="panel-body"><p>Group Members: ' + data[i][4][1] + '</p><p>Group Description: ' + data[i][3] + '</p></div></div><div class="col-sm-1"></div></div>');
    $("#results-body").append(newgroup);
    });
    });
    
    <!--function group_search() {
    alert('working');
    <!--var dept = document.getElementById("department").value;
    var courseN = document.getElementById("coursenum").value;
    $.getJSON('/search_group/' + dept + '/' + courseN, function(data) {
    $.each(data, function(i) {
    #("#test").html("hello");
    <!--$("#results-body").html('<div class="row"><div class="col-sm-1"></div><div class="panel-heading" align="center">' + data[i].name + '</div><div class="panel-body"><p>Group Members:</p><p>' + data[i].description + '</p></div></div><div class="col-sm-1"></div></div>');
    });
    });-->
    });
  </script>
  
</head>
<body>
  <p id="test">
  </p>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GroupM8</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Back</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading" align="center"><b>Your Groups:</b></div>
          <div class="panel-body">
            <p>Group1</p>
            <p>Group2</p>
            <p>Group3</p>
            <p>Group4</p>
            <p>Group5</p>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" align="center"><b>Your Classes:</b></div>
          <div class="panel-body">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <p><b>Course:</b></p>
                </div>
                <div class="col-sm-6">
                  <p><b>Looking for Group?</b></p>
                </div>
                <div class="col-sm-8">
                  <p>Class 1</p>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <input type="checkbox">
                  </div>
                </div>
                <div class="col-sm-8">
                  <p>Class 2</p>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <input type="checkbox">
                  </div>
                </div>
                <div class="col-sm-8">
                  <p>Class 3</p>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <input type="checkbox">
                  </div>
                </div>
                <div class="col-sm-8">
                  <p>Class 4</p>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <input type="checkbox">
                  </div>
                </div>
                <div class="col-sm-8">
                  <p>Class 5</p>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <input type="checkbox">
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" align="center"><b>Create a Group</b></div>
          <div class="panel-body">
            <form class="form-horizontal" enctype="multipart/form-data" action="/create_group" method="post">
              <div class="row form-group">
                <label class="col-sm-4" for="groupname">Name:</label>
                <div class="col-sm-8"> 
                  <input type="text" id="groupname" name="groupname">
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-4" for="groupdept">Department:</label>
                <div class="col-sm-8"> 
                  <input type="text" class="control-form" id="groupdept" name="groupdept">
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-4" for="groupnum">Course Number:</label>
                <div class="col-sm-8"> 
                  <input type="text" id="groupnum" name="groupnum">
                </div>
              </div>
            
            <div class="row" align="center">
              <button type="submit" class="btn btn-default"><b> Create Group </b></button>
            </div>
	    </form>

            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row username">
          <div align="center">
            <h2>Your Name Here</h2>
          </div>
        </div>
        <div class="row">
          <h3 align="center"><b>Search for Group</b></h3>
        </div>
        <div class="row">
          <form enctype="multipart/form-data">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department" name="dept">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="coursenum">Course Number</label>
                <input type="text" class="form-control" id="coursenum" name="courseN">
              </div>
            </div>
        </div>
	
        <div class="row" align="center">
          <button type="submit" class="btn btn-default" id="searchbutton"><b>Search</b></button>
        </div>
	</form>
        <br>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading" align="center"><b>Results:</b></div>
            <div class="panel-body scroll" id="results-body">
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 panel panel-default">
                  <div class="panel-heading" align="center">Group 1</div>
                  <div class="panel-body">
                    <p>Group Members:</p>
                    <p>Group Desciption Here</p>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 panel panel-default">
                  <div class="panel-heading" align="center">Group 2</div>
                   <div class="panel-body">
                    <p>Group Members:</p>
                    <p>Group Desciption Here</p>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 panel panel-default">
                  <div class="panel-heading" align="center">Group 3</div>
                   <div class="panel-body">
                    <p>Group Members:</p>
                    <p>Group Desciption Here</p>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div> 
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading" align="center"><b>Pending Invitations:</b></div>
            <div class="panel-body">
              <br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
 <!-- <script>
    $("#searchbutton").click(function() {
    $.getJSON('/group_search', function(data) {
    $.each(data, function(i) {
    newgroup = "";
    newgroup.concat('<div class="row"><div class="col-sm-1"></div><div class="col-sm-10 panel panel-default"><div class="panel-heading" align="center">' + data[i][2] + '</div><div class="panel-body"><p>Group Members: ' + data[i][4][1] + '</p><p>Group Description: ' + data[i][3] + '</p></div></div><div class="col-sm-1"></div></div>');
    $("#results-body").append(newgroup);
    });
    });
    
    <!--function group_search() {
    alert('working');
    <!--var dept = document.getElementById("department").value;
    var courseN = document.getElementById("coursenum").value;
    $.getJSON('/search_group/' + dept + '/' + courseN, function(data) {
    $.each(data, function(i) {
    #("#test").html("hello");
    <!--$("#results-body").html('<div class="row"><div class="col-sm-1"></div><div class="panel-heading" align="center">' + data[i].name + '</div><div class="panel-body"><p>Group Members:</p><p>' + data[i].description + '</p></div></div><div class="col-sm-1"></div></div>');
    });
    });
    });
  </script>-->
</body>
</html>
