<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GroupM8 User Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
      .rightcolumn {
      border-right: 1px solid black;
      }

      .checkbox {
      margin: 0 0 0 0;
      }
      
      .scroll {
      max-height:300px;
      overflow-y:auto;  
      }
      .groupscroll {
      max-height:160px;
      overflow-y:auto;
      min-height: 160px;
      }
      .classscroll {
      max-height:160px;
      min-height:160px;
      overflow-y:auto;
      }
      .sidebox {
      background-color: #FF6600;
      }
      .pageback {
      background: #FFFFFF;
      }
      .btncolor {
      background: #2F4F4F;
      color: #FFFFFF;
      border-color: #000000;
      }
      .approve {
      background: green;
      }
      .reject {
      background: red;
      }
      .username {
      border-bottom: 3px solid;
      }
      .col-fixed-320 {
      margin-left: 10px;
      width:320px;
      position:fixed;
      height:100%;
      z-index:1;
      }
      .col-offset-400 {
      padding-left:400px;
      z-index:0;
      }
      .nopadrow {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      }
      
      .group {
      text-align: center;
      vertical-align: middle;
      margin: 1px;
      }
      
      .stdfont {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 1.2em;
      }
      
      .headfont {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 1.3em;
      }
  
      .navbar-nav > li > a, .navbar-brand {
      padding-top:5px !important; padding-bottom:0 !important;
      height: 30px;
      }
      .navbar {min-height:30px !important;}
      
      
      .panel-default > .panel-heading-custom {
      background: #000000;
      color: #fff;
      }
    
    </style>

    
  </head>
  <body class="pageback">
  
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
	<div class="navbar-header">
          <a class="navbar-brand" href="">GroupM8</a>
	</div>
	<ul class="nav navbar-nav">
          <li class="active"><a href="">Home</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="#"><div id="username"></div></a></li>
          <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
	</ul>
      </div>
    </nav>

    <div class="container-fluid pageback">
      <div class="row">
	<div class="col-xs-3">
	  
	  <!-- List of User's Groups -->
	  <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-custom headfont" align="center"><b>Your Groups:</b></div>
              <div class="panel-body sidebox groupscroll" id="yourgroups">
		<p>No Groups (Yet)</p>
              </div>
	    </div>
          </div>

	  <!-- List of User's Courses -->
	  <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-custom headfont" align="center"><b>Your Courses:</b></div>
              <div class="panel-body sidebox classscroll">
		<form>
		  <div class="row">
                    <div class="col-xs-3 stdfont">
                      <p><b><u>Course:</u></b></p>
                    </div>
                    <div class="col-xs-6 stdfont">
                      <p><b><u>Looking for Group?</u></b></p>
                    </div>
		    <div class="container-fluid">
		      <div id="classrow"></div>
		    </div>	
		  </div>
		</form>
              </div>
            </div>
	  </div>

	  <!-- Form to add a course -->
	  <div class="row">
	    <div class="panel panel-default">
              <div class="panel-heading panel-heading-custom headfont" align="center"><b>Add a Course</b></div>
              <div class="panel-body sidebox">
		<form enctype="multipart/form-data" action="/add_course" method="post">
		  <div class="row form-group">
		    <div class="col-xs-6 stdfont">
                      <label for="coursedept">Department:</label>
                      <input type="text" class="form-control" maxlength="3" pattern="[A-Za-z]{3,}" required title="3 letters" id="coursedept" name="coursedept" placeholder="e.g. 'ABC'">
		    </div>
		    <div class="col-xs-6 stdfont">
                      <label for="coursenum">Course Number:</label> 
                      <input type="text" class="form-control col-sm-2" maxlength="3" pattern="[0-9]{3,}" required title="3 numbers" id="coursenum" name="coursenum" placeholder="123">
		    </div>
		  </div>
		  <div class="row" align="center">
		    <button type="submit" class="btn btn-default btncolor"><b> Add Course </b></button>
		  </div>
		</form>
              </div>
            </div>
	  </div>
	  
	  <!-- Form to create a group -->
	  <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-custom headfont" align="center"><b>Create a Group</b></div>
              <div class="panel-body sidebox">
		<form enctype="multipart/form-data" action="/create_group" method="post">
		  <div class="row form-group stdfont">
                    <label class="col-xs-2" for="groupname">Name:</label>
                    <div class="col-xs-8"> 
                      <input type="text" id="groupname" maxlength="20" name="groupname" class="form-control" placeholder="Group name here">
                    </div>
		  </div>
		  <div class="row form-group">
		    <div class="col-xs-6 stdfont">
                      <label for="groupdept">Department:</label>
                      <input type="text" class="form-control" id="groupdept" maxlength="3" pattern="[A-Za-z]{3,}" required title="3 letters" name="groupdept" placeholder="e.g. 'ABC'">
		    </div>
		    <div class="col-xs-6 stdfont">
                      <label for="groupnum">Course Number:</label> 
                      <input type="text" class="form-control col-sm-2" id="groupnum" maxlength="3" pattern="[0-9]{3,}" required title="3 numbers" name="groupnum" placeholder="123">
		    </div>
		  </div>
		  <div class="row" align="center">
		    <button type="submit" class="btn btn-default btncolor"><b> Create Group </b></button>
		  </div>
		</form>
              </div>
            </div>
	  </div>
	</div>
	<div class="col-xs-9">
	  
	  <!-- User's Name (Can edit) -->
          <div class="row username">
	    <div class="col-xs-2"></div>
            <div class="col-xs-8" align="center">
              <h2 id="usernamebig" contenteditable="true">New User</h2>
            </div>
	    <div class="col-xs-2">
	      <button type="button" class="btn btn-default" name="savename"><b>Save Name Edits</b></button>
	    </div>
          </div>
	  
	  <!-- Search for groups -->
          <div class="row">
            <h3 align="center"><b>Group Search</b></h3>
          </div>
          <div class="row">
            <form enctype="multipart/form-data">
	      <div class="col-xs-4"></div>
              <div class="col-xs-2 stdfont">
		<div class="form-group">
                  <label for="searchdept">Department</label>
                  <input type="text" class="form-control" id="searchdept" name="dept" maxlength="3" pattern="[A-Za-z]{3,}" required title="3 letters" placeholder="'e.g. ABC'">
		</div>
              </div>
              <div class="col-xs-2 stdfont">
		<div class="form-group">
                  <label for="searchnum">Course Number</label>
                  <input type="text" class="form-control" id="searchnum" name="courseN" maxlength="3" pattern="[0-9]{3,}" required title="3 numbers" placeholder="123">
		</div>
              </div>
	      <div class="col-xs-4"></div>
          </div>
	  
          <div class="row" align="center">
            <button type="button" class="btn btn-default btncolor" id="sb"><b>Search Groups</b></button>
          </div>
	  </form>
          <br>
	  
	  <!-- Search Results -->
          <div class="row" style="display:none" id="resultsrow">
	    <div class="col-xs-1"></div>
            <div class="col-xs-10">
	      <div class="panel panel-default pageback">
		<div class="panel-heading panel-heading-custom headfont" align="center"><b>Results:</b></div>
		<div class="panel-body scroll pageback" id="results-body">
		  <p id="firstrow"> </p> 
		</div>
              </div>
            </div>
	  </div>
          <br>

	  <!-- List of upcoming events -->
	  <div class="row">
	    <div class="col-xs-1"></div>
	    <div class="col-xs-10">
	      <div class="panel panel-default pageback">
		<div class="panel-heading panel-heading-custom headfont" align="center"><b>Upcoming Events:</b></div>
		<div class="panel-body pageback" id="events-body">
		  <div class="row">
		    <div class="col-xs-1"></div>
		    <div class="col-xs-10">
		      <div class=" panel panel-default">
			<div class="panel-heading" align="center">Event Name + Group Name (course)</div>
			<div class="panel-body">
			  <div class="row">
			    <div class="col-xs-4"><p><b>Date:</b> actual date here</p></div>
			    <div class="col-xs-8"><p><b>Time: </b> actual time here</p></div>
			  </div>
			  <div class="row"><div class="col-xs-12"><p><b>Description: </b>Description here</p></div>
			  </div>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	
          <div class="row">
		
	    <!-- List of pending invitations from groups -->
	    <div class="col-xs-2 pageback"></div>
	    <div class="col-xs-3">
	      <div class="panel panel-default pageback">
		<div class="panel-heading panel-heading-custom headfont" align="center"><b>Pending Invitations:</b></div>
		<form>
		  <div class="panel-body pageback classscroll">
		    <div id="invitations-list">
		      <div class="row bordered">
			<div class="col-xs-7"><p>Group 1</p></div>
			<div class="col-xs-2">
			  <button type="button" class="btn btn-default approve"><b></b><span class="glyphicon glyphicon-ok"></span></button>
			</div>
			<div class="col-xs-2">
			  <button type="button" class="btn btn-default reject"><b></b><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		      </div>
		    </div>
		</form>
		</div>
	      </div>
	    </div>
	    
	    <!-- List of pending requests from the User to groups -->
	    <div class="col-xs-2"></div>
	    <div class="col-xs-3">
	      <div class="panel panel-default pageback">
		<div class="panel-heading panel-heading-custom headfont" align="center"><b>Pending Requests:</b></div>
		<form>
		  <div class="panel-body pageback classscroll">
		    <div id="requests-list">
		      <div class="row bordered">
		      </div>
		    </div>
		  </div>
		</form>
	      </div>
            </div>
	    <div class="col-xs-2"></div>
          </div>
        </div>
      </div>
    </div>
    
<div></div>


<!-- Refresh the page (corrects the address bar) -->  
{% if refresh %}
<div></div>
<script>
  window.open("http://www.groupm8.org", "_self");
</script>
{% endif %}
  

<div></div>

<!-- Script for searching for groups -->  
<script>
  document.getElementById("sb").onclick = function() {searchgroup()};
  function searchgroup() {
  $("#results-body").html("");
  var deptinput = document.getElementById("searchdept").value;
  var courseinput = document.getElementById("searchnum").value;
  if (deptinput != '' && courseinput != '') {
  $("#resultsrow").attr("style", "display:block");
  $.getJSON('/search_group/',{dept: deptinput, courseN: courseinput} ,function(data) {
  $.each(data, function(i) {
  $("#results-body").append('<div class="row pageback"><div class="col-xs-1"><span class="pageback"></span></div><div class="col-xs-10"><div class=" panel panel-default"><div class="panel-heading panel-heading-custom" align="center">' + data[i].name + '</div><div class="panel-body"><div class="col-xs-10"><b><p id="gmems' + data[i].groupid + '">Group Members: </p><p>Group Description: ' + data[i].description + '</p></b></div><div class="col-xs-2"><p><button type="button" class="btn btn-default btncolor" name="join" value="' + data[i].groupid + '"><b>Join</b><span class="glyphicon glyphicon-ok"></span></button></p></div></div></div></div><div class="col-xs-1"></div></div>');
  $.getJSON('/group_members/', {gid: data[i].groupid }, function(data2) {
  $.each(data2, function(j) {
  $("#gmems" + data[i].groupid).append('<span> ' + data2[j].name + ' ; </span>');
  });
  });
  });
  });
  $.get('/search_group/',{dept: deptinput, courseN: courseinput}, function(data2) {
  if (data2 == "F") {
  $("#results-body").html('<div align="center"><p>No groups found.</p></div>');
  }
  });
  } else {
  $("#results-body").html('<div align="center"><p>Empty search.</p></div>');
  }
  
  }
</script>

<div></div>

<!-- Script for listing the groups the User is currently in. -->
<script>
  function listGroups() {
  $("#yourgroups").html("");
  $.getJSON('/list_groups', function(data) {
  $.each(data, function(i) {
  $("#yourgroups").append('<div class="row"><div class="col-xs-1"></div><div class="col-xs-10 group headfont"><button type="button" class="btn btn-default btncolor btn-block" value="' + data[i].groupid + '" name="group"><b>' + data[i].groupname + ' (' + data[i].groupdept + ' ' + data[i].groupcoursenum +  ')</b></button></div><div class="col-xs-1"></div></div>');
  });
  });
  }listGroups();
</script>

<div></div>

<!-- Script for listing the courses the User had added. -->
<script>
  function listcourses() {
  $.getJSON('/list_courses', function(data) {
  $("#classrow").html('');
  $.each(data, function(i) {
  if (data[i].availability  == "T") {
  $("#classrow").append('<div class="row"><div class="col-xs-5 stdfont"><p>' + data[i].dept + ' ' + data[i].coursen + '</p></div><div class="col-xs-3"><div class="checkbox"><input type="checkbox" class="course" value="' + data[i].dept + ' ' + data[i].coursen + '" checked></div></div><div class="col-xs-2"><button type="button" class="btn btn-default btncolor" value="' + data[i].dept + ' ' + data[i].coursen + '" name="course"><b>Remove</b><span class="glyphicon glyphicon-remove"></span></button></div><div class="col-xs-2"><span> </span></div></div>');
  }
  else if (data[i].availability == "F") {
  $("#classrow").append('<div class="row"><div class="col-xs-5 stdfont"><p>' + data[i].dept + ' ' + data[i].coursen + '</p></div><div class="col-xs-3"><div class="checkbox"><input type="checkbox" class="course" value="' + data[i].dept + ' ' + data[i].coursen + '"></div></div><div class="col-xs-2"><button type="button" class="btn btn-default btncolor" value="' + data[i].dept + ' '  + data[i].coursen + '" name="course"><b>Remove</b><span class="glyphicon glyphicon-remove"></span></button></div><div class="col-xs-2"></div></div>');
  }
  });
  });
  } listcourses();
</script>

<!-- Script for listing the upcoming events for the User. -->
<script>
  $("#events-body").html("");
  $.getJSON('/list_user_events', function(data) {
  if (data=="") {
  $("#events-body").append('<h3 align="center"> No events currently scheduled. </h3>');
  }
  else
  {
  $.each(data, function(i) {
  var datetime = data[i].datetime.split(' ');
  $("#events-body").append('<div class="row"><div class="col-xs-1"></div><div class="col-xs-10"><div class=" panel panel-default"><div class="panel-heading panel-heading-custom" align="center"><div class="row"><div class="col-xs-6"><b>Event: </b>' + data[i].eventname + '</div><div class="col-xs-6"><b>Group: </b>' + data[i].groupname + ' (' + data[i].dept + ' ' + data[i].courseN + ')</div></div></div><div class="panel-body"><div class="row"><div class="col-xs-4"><p><b>Date:</b> ' + datetime[0] + '</p></div><div class="col-xs-8"><p><b>Time: </b>' + datetime[1] + ' ' + datetime[2] +  '</p></div></div><div class="row"><div class="col-xs-12"><p><b>Description: </b>' + data[i].eventdesc + '</p></div></div></div></div>');
  });
  }
  });
</script>

<!-- Script for updating course availability. -->
<script>
  $(document).ready(function() {
  $(document).on("change", "input:checkbox", function() {
  var value = $(this).val();
  var vals = value.split(" ");
  var u = '/toggle_course_availability/' + vals[0] + '/' + vals[1];
  $.get(u, function(data){
  });
  });
  });
</script>

<div></div>

<!-- Script for removing a course. -->
<script>
  $(document).ready(function() {
  $(document).on("click", "button[name='course']", function() {
  var value = $(this).val();
  var vals = value.split(" ");
  if (confirm("Remove course " + vals[0] + " " + vals[1] + "?")) {
  var x = '/remove_course/' + vals[0] + '/' + vals[1];
  $.get(x, function(data){
  listcourses();
  });
  }
  });
  });
</script>

<div></div>

<!-- Script for redirecting to the group that was clicked. -->
<script>
  $(document).ready(function() {
  $(document).on("click", "button[name='group']", function() {
  var val = $(this).val();
  window.location.assign('http://www.groupm8.org/group/' + val);
  });
  });
</script>

<!-- Script for displaying the user's information. (Just the name for now) -->
<script>
  $.getJSON('/user_info', function(data) {
  $("#username").html(data[0]);
  $("#usernamebig").html(data[0]);
  });
</script>

<!-- Script for listing the pending requests/invitations. -->
<script>
  function listRequests() {
  $("#invitations-list").html("");
  $("#requests-list").html("");
  $.getJSON('/list_user_requests', function(data) {
  $.each(data, function(i) {
  $("#invitations-list").append('<div class="row bordered"><div class="col-xs-7 stdfont"><p>' + data[i].groupname + '</p></div><div class="col-xs-2"><button name="accept" value="' + data[i].requestid + '" type="button" class="btn btn-default approve"><span class="glyphicon glyphicon-ok"></span></button></div><div class="col-xs-2"><button name="reject" value="' + data[i].requestid + '" type="button" class="btn btn-default reject"><span class="glyphicon glyphicon-remove"></span></button></div></div>');
  });
  });
  $.getJSON('/list_user_requests2', function(data) {
  $.each(data, function(i) {
  $("#requests-list").append('<div class="row bordered"><div class="col-xs-7 stdfont"><p>' + data[i].groupname + '</p></div><div class="col-xs-2"><button name="reject" value="' + data[i].requestid + '" type="button" class="btn btn-default reject"><span class="glyphicon glyphicon-remove"></span></button></div></div>');
  });
  });
  }
</script>

<!-- Script for buttons. (logout, accept/reject invitation, join a group) -->
<script>
  window.onload = function() {
  listRequests();
  }
  $(document).ready( function() {
  $(document).on("click", "#logout", function() {
  window.open("http://www.groupm8.org/logging_out", "_self");
  });
  $(document).on("click", "button[name='accept']", function() {
  var rid = $(this).val();
  if (confirm("Accept this invitation?")) {
  $.get('/process_request/' + rid + '/A', function(data) {
  listGroups();
  listRequests();
  listcourses();
  });
  }
  });
  $(document).on("click", "button[name='reject']", function() {
  var rid2 = $(this).val();
  if (confirm("Reject this invitation?")) {
  $.get('/process_request/' + rid2 + '/R', function(data) {
  listRequests();
  });
  }
  });
  $(document).on("click", "button[name='join']", function() {
  var gid = $(this).val();
  $.get('/send_request/' + gid, function(data) {
  alert("Request to join group sent.");
  searchgroup();
  listRequests();
  });
  });
  });
</script>

<!-- Script for editing the User's name. -->
<script>
  $(document).ready( function() {
  $(document).on("click", "button[name='savename']", function() {
  var editName = document.getElementById("usernamebig");
  var name = editName.innerHTML.substr(0,40);
  $.post('/edit_username', {editname: name}, function(data) {
  });
  });
  });
</script>

</html>
